<ion-header>
  <ion-toolbar>
    <ion-title>Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <h1>Slide 1</h1>
      <div>
        <p>Este meu app terá funções incriveis, e ele está aqui para impressionar você!</p>
        <p>Ficou curioso ?<strong> Veja mais</strong></p>
      </div>
    </ion-slide>

    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>

    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>