<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="subtitulo">Meu App</ion-card-subtitle>
      <ion-card-title class="nome_tittle">{{nome_usuario}}</ion-card-title>
    </ion-card-header>

    <img src="assets/images/madison.jpg">

    <ion-card-content>
      Estou criando um aplicativo muito foda !!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Lembrete</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Este é um card de lembrete, para você não se esquecer de tomar água hoje!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Wi-fi</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="beer" slot="start"></ion-icon>
      <ion-label>Bora tomar uma ?</ion-label>
    </ion-item>

    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Coronavairus</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Prátique atividades</ion-label>
    </ion-item>
  </ion-card>
</ion-content>